@import "tailwindcss";

:root {
  --background: #fdf6ec;
  --foreground: #252a1a;
  --olive: #6b7a44;
  --olive-dark: #4f5a32;
  --burnt-orange: #c1440e;
  --burnt-orange-dark: #9c3709;
  --ivory: #fdf6ec;
  --cream: #f0ead9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-olive: var(--olive);
  --color-olive-dark: var(--olive-dark);
  --color-burnt-orange: var(--burnt-orange);
  --color-burnt-orange-dark: var(--burnt-orange-dark);
  --color-ivory: var(--ivory);
  --color-cream: var(--cream);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #23261c;
    --foreground: #fdf6ec;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
